gsw
xarray
plotly
netcdf4
h5netcdf
flask
flask_login
pymongo
numpy==1.22.4
scipy
matplotlib==3.5
pandas==1.4.0
erddapy==0.1.3
requests
seawater
geojson
cmocean
natsort
pillow
simplekml
jsmin
pathtools
lxml
mpld3
dateparser
wget
progressbar
openpyxl
seaborn
tensorflow
scikit-learn
